@import"./../../style-config/mixin.scss";

.left-sidebar {
    flex: 0.3;
    min-width: 220px;
    margin-top: 18px;
    border-radius: 8px;
    margin-bottom: 20px;
    @include small-sreen{
        display: none;
    }
    .profile {
        width: 100%;
        background-color: #fff;
        border-bottom: 1px solid #999;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 5px;
        padding-bottom: 18px;
        overflow: hidden;
        .profile-bg {
            width: 100%;
            height: 50px;
            overflow: hidden;
            margin-bottom: -32px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        h3 {
            font-size: 24px;
            width: 50%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        p {
            font-size: 14px;
            width: 97%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: wrap;
            text-align: center;
            padding-bottom: 18px;
            border-bottom: 1px solid #999;
        }
        .MuiAvatar-circular {
            height: 50px;
            width: 50px;
            cursor: pointer;
        }
        .profile-details {
            margin-top: 18px;
            padding: 0 8px;
            h2 {
                font-size: 14px;
                margin-bottom: 8px;
            }
            .profile-stats {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 12px;
                margin: 0 0;
                column-gap: 60px;
                width: 100%;
                text-align: justify;
                padding: 5px;
            }
        }
    }
    .recent {
        position: sticky;
        background-color: #fff;
        position: sticky;
        top: 70px;
        left: 0;
    }
}
